xpropagator

.vscode/
.idea/
bin

internal/dllcore/_lib
internal/dllcore/_wrappers

examples/code/py/.venv
examples/code/java/.gradle
examples/code/java/build
examples/code/py/api
examples/code/py/__init__.py

scripts/certs

/go.sum
*.DS_Store
*.o
*.so
*.dylib
*.lib
*.dll
*.exe
*.test
*.out
*.a